<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap" rel="stylesheet">
  <meta name="theme-color" content="#fafafa">
  <link rel="stylesheet" href="/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.0/styles/solarized-dark.min.css" />
</head>

<body>
  <div class="container">
    <div class="title">{{site.title}}</div>
    <div class="byline">{{site.description}}</div>
    <div class="pages">
      <a href="/">Home</a>
      {{#each pages}}
        <a href="/{{slug}}">{{title}}</a>
      {{/each}}
    </div>

    <div class="content">
      {{{page}}}
    </div>
  </div>
</body>

</html>
